body{

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ff79aa;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header, footer {
    background-color: #ff488b;
    color: #000000;
    text-align: center;
    padding: 10px 0;
}

h1 {
    margin-top: 0;
}

.content {
    padding-top: 20px;
}

p {
    color: #000000;
    line-height: 1.6;
}
/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Estilo do cabeçalho */
header {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilo para o título principal */
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Estilo para os subtítulos */
h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

/* Estilo para os parágrafos */
p {
    margin-bottom: 15px;
}

/* Estilo para links */
a {
    color: #4CAF50; /* Verde */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para a seção de imagem */
#imagem-secao {
    text-align: center;
    margin-bottom: 30px;
}

/* Estilo para a imagem */
#imagem-secao img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para a seção de destaque */
.destaque {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

/* Estilo para as citações */
blockquote {
    font-style: italic;
    margin: 0;
    padding: 10px 20px;
    border-left: 5px solid #4CAF50; /* Verde */
    background-color: #f9f9f9;
}

/* Estilo para a lista */
ul {
    list-style: none;
    padding-left: 0;
}

/* Estilo para os itens da lista */
li {
    padding-left: 20px;
    position: relative;
}

li:before {
    content: "\2022"; /* Código Unicode para um ponto preto */
    position: absolute;
    left: 0;
    color: #4CAF50; /* Verde */
}
